body {
    background-color: rgb(231, 231, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: blue;
    text-align: center;
}

img {
    border-radius: 30px; /* Menentukan tingkat kebulatan border */
}
